# get rid of this once file structure changes are complete
chap01/chap01exer??.pdf
chap01/chap01exer??.html
chap01/chap01exer??.tex

chap0?/exer??/chap0?exer??.pdf
chap0?/exer??/chap0?exer??.html
chap0?/exer??/chap0?exer??.tex
